In [ ]:
a = tuple()
b = (1,2,3)
print(a)
print(b)

()
(1, 2, 3)

In [ ]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# indexed
# ordered
# duplicat members
# immutable

In [ ]:
a = ("Apple","Bal","Cat")
a[1]

'Bal'

In [ ]:
a = ("Apple","Bal","Cat")
a[0:2]

('Apple', 'Bal')

In [ ]:
a = ("Apple","Bal","Cat")
len(a)

3

In [ ]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [ ]:
a = (1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [ ]:
a = ("Apple",)
type(a)

tuple

In [ ]:
a = (1,2,3,4,)
type(a)

tuple

In [ ]:
a = (234,56,213,54)
print(min(a))
print(max(a))
print(sum(a))

54
234
557

In [ ]:
a = (1,2,3)
a[0] = 0

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = ()
b = (1,)
c = a+b
d = c+(2,)

In [ ]:
print(d)

(1, 2)

In [ ]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter n = 2
Enter x = 23423
Enter x = 34
(23423, 34)

In [ ]:
a = (324,34,23,54,34,53)
b = sorted(a)
b

[23, 34, 34, 53, 54, 324]

In [ ]:
print(a)

(324, 34, 23, 54, 34, 53)

In [ ]:
a = (324,34,23,54,34,53)
b = list(a)
del b[-1]
print(b)

[324, 34, 23, 54, 34]

In [ ]:
a = tuple(b)
print(a)

(324, 34, 23, 54, 34)

In [ ]:
a = (324,34,23,54,34,53)
a[0:-1]

(324, 34, 23, 54, 34)

In [ ]:
a = "Python"
list(a)

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
a = "Python"
tuple(a)

('P', 'y', 't', 'h', 'o', 'n')

In [ ]:
a = ['P', 'y', 't', 'h', 'o', 'n']
str(a)

"['P', 'y', 't', 'h', 'o', 'n']"

In [ ]:
a = ("Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("yes")

yes

In [ ]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))

# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9])

# tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
b = (10,11,12)
a+(b,)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [ ]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    y = int(input("Enter age = "))
    z = input("Enter address = ")
    data = (x,y,z)
    a = a+(data,)
print(a)

Enter n = 2
Enter name = asdas
Enter age = 234
Enter address = sdfsd
Enter name = dfsdfs
Enter age = 342
Enter address = sdf
(('asdas', 234, 'sdfsd'), ('dfsdfs', 342, 'sdf'))

In [ ]:
b = list(a)
b

[('asdas', 234, 'sdfsd'), ('dfsdfs', 342, 'sdf')]

In [ ]:
b[0] = ('Ram',34,"Kathmandu")
b

[('Ram', 34, 'Kathmandu'), ('dfsdfs', 342, 'sdf')]

In [ ]:
b.append(("Shyam",34,"Patan"))
b

[('Ram', 34, 'Kathmandu'), ('dfsdfs', 342, 'sdf'), ('Shyam', 34, 'Patan')]

In [2]:
#tuples inside tuple to tuples inside list
a = ((1,2,3),(4,5,6),(7,8,9))
b =list(a)
print(b)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
#tuples inside tuple to list inside list
data = []
a = ((1,2,3),(4,5,6),(7,8,9))
b =list(a)
for i in b:
    data.append(list(i))
    
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
def cal():
    a = 10
    b = 20
    return a,b
cal()

(10, 20)

In [ ]:
# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9])
a[0].append(4)
a

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [ ]:
# list inside tuple
a = ([1,2,3,4],[4,5,6],[7,8,9])
del a[0][3]
a

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [ ]:
# list inside tuple
a = ([1,2,3,4],[4,5,6],[7,8,9])
b = ([10,11,12],)

a+b

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9], [10, 11, 12])

In [5]:
#converting tuples inside tuples to tuples inside list
a = ((1,2,3),(4,5,6),(7,8,9))
b = list(a)
print(b)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [7]:
#converting tuples inside tuples to list inside list
data = []
a = ((1,2,3),(4,5,6),(7,8,9))
b = list(a)
for i in b:
  data.append(list(i))
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
#converting list inside list to list inside tuples
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b = tuple(a)
print(b)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [15]:
#converting list inside list to tuple inside tuple
c = ()
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in a:
  data = tuple(i)
  c = c + (data,)
print(c)

((1, 2, 3), (4, 5, 6), (7, 8, 9))